.nav-mob-close {
    display: none;
}

.nav-mob-open {
    display: none;
}

@media (max-width: 1055px) {
    .navbar {
        margin: 20px 50px;
    }

    .nav-connect {
        display: none;
    }

    .nav-mob-open {
        display: block;
        position: fixed;
        right: 30px;
        cursor: pointer;
    }

    .nav-mob-close {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 30px;
        cursor: pointer;
        z-index: 3; /* Ensure the close button is above the menu */
    }

    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1F0016;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
        padding-top: 60px; /* Add padding to avoid overlap with close button */
    }

    .nav-menu li {
        font-size: 30px;
        padding-left: 30px;
        flex-direction: row;
        gap: 20px;
    }
}
